<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Dashboard</title>
</head>
<body>
    <section class="left">
        <img class="profilepic" src="../asset/img/pic.png" alt="profilePic">
        <p class="firstname">Henry</p>
        <p class="lastname">George</p>
        <div class="underline"></div>
        <div class="element__dashboard">
            <img class="icons" src="../asset/img/dashboard.png" alt="dashboard">
            <p class="element__dashboard__title">Dashboard</p>
        </div>
        <div class="element__invoices">
            <img class="icons" src="../asset/img/invoice.png" alt="invoices">
            <p class="element__invoices__title">Invoices</p>
        </div>
        <div class="element__compagnies">
            <img class="icons" src="../asset/img/companies.png" alt="companies">
            <p class="element__companies__title">Companies</p>
        </div>
        <div class="element__contact">
            <img class="icons" src="../asset/img/contact.png" alt="contact">
            <p class="element__contact__title">Contacts</p>
        </div>
        
        <div class="underline"></div>
        
        <div class="userlogout">
            <img class="userlogout__profilepic" src="../asset/img/pic.png" alt="profilePic">
            <p class="logout">Logout</p>
        </div>
    </section>
    <main class="right">
        <img class="dashboard__illustration" src="../asset/img/illu.png" alt="Illustration">
        <h1 class="dashboard__title">Dashboard</h1>
        <p class="dashboard__position">dashboard/</p>
        <div class="element__user">
            <h2 class="element__user__welcome">Welcome back Henry!</h2>
            <p class="element__user__describe">You can here add an invoice, a company <br/> and some contacts</p>
        </div>
       
        <div class="containerall">
            <article class="element__statistics">
                <p class="element__statistics__title">Statistics</p>
                <div class="underline"></div>
                <div class="element__statistics__container">
                    <div class="element__statistics__container__circle1">
                        <p class="element__statistics__container__circle1__invoices">XXX invoices</p>
                    </div>
                    <div class="element__statistics__container__circle2">
                        <p class="element__statistics__container__circle2__contacts">XXX Contacts</p>
                    </div>
                    <div class="element__statistics__container__circle3">
                        <p class="element__statistics__container__circle2__companies">XXX Companies</p>
                    </div>
                </div>
            </article>
        
            <article class="element__lastinvoices">
                <p class="element__lastinvoices__title">Last invoices</p>
                <div class="underline"></div>
                <div class="element__lastinvoices__container">
                    <table class="lastinvoices__table">
                        <tr>
                            <th>Invoice Number</th>
                            <th>Dates</th>
                            <th>Company</th>
                        </tr>
                        <tr>
                            <td>valeur1</td>
                            <td>valeur2</td>
                            <td>valeur3</td>
                        </tr>
                    </table>
                </div>
            </article>
            <article class="element__lastcontacts">
                <p class="element__lastcontacts__title">Last Contacts</p>
                <div class="underline"></div>
                <div class="element__lastcontacts__container">
                    <table class="lastcontacts__table">
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                        <tr>
                            <td>valeur1</td>
                            <td>valeur2</td>
                            <td>valeur3</td>
                        </tr>
                    </table>
                </div>
            </article>
        
            <article class="element__lastcompanies">
                <p class="element__lastcompanies__title">Last Companies</p>
                <div class="underline"></div>
                <div class="element__lastcompanies__container">
                    <table class="lastcompanies__table">
                        <tr>
                            <th>Name</th>
                            <th>TVA</th>
                            <th>Country</th>
                        </tr>
                        <tr>
                            <td>valeur</td>
                            <td>valeur</td>
                            <td>valeur</td>
                        </tr>
                    </table>
                </div>
            </article>
        </div>

    </main>
    
</body>
</html>