* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    
}

.error{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
.error_404{
    width: 50%;
    

}

@import 'scss/signuplogin';
@import 'scss/dashboard';
@import 'scss/tables_invoices';
@import 'scss/header';
@import 'scss/tables';
@import 'scss/header_classic';
@import 'scss/footer';