@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.home_header {
  background-image: url(../../assets/img/Header.png);
  width: 100%;
  height: 700px;
  -o-object-fit: fill;
     object-fit: fill;
}
.home_header .top_header {
  padding-top: 4.5em;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.home_header .top_header h1 {
  font-size: 35px;
  padding-left: 2.5em;
}
.home_header .top_header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.home_header .top_header .menu a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.home_header .top_header .menu a:hover {
  border: solid 2px black;
}
.home_header .top_header .option {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-left: 5em;
}
.home_header .top_header .option a {
  padding: 13px;
}
.home_header .top_header .login {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.home_header .top_header .login a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
}
.home_header .top_header .login a:hover {
  border-radius: 15px;
  border-color: azure;
  border: solid 2px azure;
  background-color: azure;
}
.home_header .top_header .login > a:first-child {
  border-radius: 15px;
  border-color: azure;
  border: solid 2px azure;
  background-color: azure;
}
.home_header .top_header .login > a:first-child:hover {
  border: solid 2px rgb(142, 190, 190);
}

.table_align, .table_align_5, .table_align_4 {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
}

.table_title {
  margin-top: 25px;
  padding: 10px;
  text-align: left;
  background-color: #F9DE4E;
}

.table_list {
  justify-content: left;
}

.table_align_4 {
  grid-template-columns: repeat(4, auto);
}

.table_align_5 {
  grid-template-columns: repeat(5, auto);
}

.section_align {
  width: 100%;
  padding-left: 8em;
  padding-right: 8em;
}
.section_align h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 45px;
}

.table_content_5 > div {
  background-color: white;
  padding: 9px;
}
.table_content_5 > div:nth-child(10n-4), .table_content_5 > div:nth-child(10n-3), .table_content_5 > div:nth-child(10n-2), .table_content_5 > div:nth-child(10n-1), .table_content_5 > div:nth-child(10n) {
  background-color: #F5F5F5;
}

.table_content_4 > div {
  background-color: white;
  padding: 9px;
}
.table_content_4 > div:nth-child(8n), .table_content_4 > div:nth-child(8n-1), .table_content_4 > div:nth-child(8n-2), .table_content_4 > div:nth-child(8n-3) {
  background-color: #F5F5F5;
}

.title_bottom {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
.title_bottom h2 {
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 42px;
}

.bottom {
  width: 100%;
  padding-top: 50px;
  display: flex;
  padding-bottom: 50px;
}

.text_bottom {
  width: 50%;
  padding-left: 145px;
}
.text_bottom img {
  width: 310px;
  height: 250px;
}

.basic_header {
  background-color: #F9DE4E;
  width: 100%;
  height: 287px;
}
.basic_header .top_header_basic {
  padding-top: 4.5em;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.basic_header .top_header_basic h1 {
  font-size: 35px;
  padding-left: 2.5em;
}
.basic_header .top_header_basic .menu_basic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.basic_header .top_header_basic .menu_basic a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.basic_header .top_header_basic .menu_basic a:hover {
  border: solid 2px black;
}
.basic_header .top_header_basic .option_basic {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-left: 5em;
}
.basic_header .top_header_basic .option_basic a {
  padding: 13px;
}
.basic_header .top_header_basic .login_basic {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.basic_header .top_header_basic .login_basic a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 7px;
}
.basic_header .top_header_basic .login_basic a:hover {
  border-radius: 15px;
  border-color: azure;
  border: solid 2px azure;
  background-color: azure;
}
.basic_header .top_header_basic .login_basic > a:first-child {
  border-radius: 15px;
  border-color: azure;
  border: solid 2px azure;
  background-color: azure;
}
.basic_header .top_header_basic .login_basic > a:first-child:hover {
  border: solid 2px rgb(142, 190, 190);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type=radio],
input[type=checkbox] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
input[type=submit] {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 40px;
}
input[type=submit]:hover {
  background-color: lightgray;
  color: black;
}

body {
  margin: 0 0 0 0px;
  display: flex;
  flex-direction: row;
  font-family: "Red Hat Display", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.underline {
  background-color: #E0E0E0;
  width: 281px;
  height: 1px;
  opacity: 50%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  background-color: #F5F5FB;
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.element__dashboard, .element__invoices, .element__compagnies, .element__contact {
  display: flex;
  flex-direction: row;
  width: 281px;
}
.element__dashboard:hover, .element__invoices:hover, .element__compagnies:hover, .element__contact:hover {
  background-color: grey;
  color: white;
}

.element__user {
  width: 1044px;
  height: 206px;
  border-radius: 10px;
  background-color: #9698D6;
}

.containerall {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: ". ." ". .";
}

.element__lastinvoices__container, .element__lastcontacts__container, .element__lastcompanies__container {
  display: flex;
  flex-direction: row;
}
.element__lastinvoices__container__name, .element__lastinvoices__container__invoicenumber, .element__lastinvoices__container__dates, .element__lastinvoices__container__company, .element__lastinvoices__container__phone, .element__lastinvoices__container__email, .element__lastinvoices__container__tva, .element__lastinvoices__container__country, .element__lastcontacts__container__name, .element__lastcontacts__container__invoicenumber, .element__lastcontacts__container__dates, .element__lastcontacts__container__company, .element__lastcontacts__container__phone, .element__lastcontacts__container__email, .element__lastcontacts__container__tva, .element__lastcontacts__container__country, .element__lastcompanies__container__name, .element__lastcompanies__container__invoicenumber, .element__lastcompanies__container__dates, .element__lastcompanies__container__company, .element__lastcompanies__container__phone, .element__lastcompanies__container__email, .element__lastcompanies__container__tva, .element__lastcompanies__container__country {
  margin-right: 70px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
}
.element__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}
.element__user__welcome, .element__user__describe {
  color: white;
  margin-left: 100px;
}
.element__user__welcome {
  margin-top: 50px;
  font-size: 35px;
}
.element__user__describe {
  margin-bottom: 50px;
}

.dashboard__illustration {
  width: 500px;
  margin-left: 300px;
  position: absolute;
}

.element__statistics, .element__lastinvoices, .element__lastcontacts, .element__lastcompanies {
  background-color: white;
  margin-right: 35px;
  margin-bottom: 35px;
  border-radius: 10px;
}
.element__statistics__title, .element__lastinvoices__title, .element__lastcontacts__title, .element__lastcompanies__title {
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}

.dashboard__title, .dashboard__position {
  display: flex;
  align-self: flex-start;
  margin-left: 15px;
}

.icons {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.profilepic {
  width: 100px;
  padding-top: 10px;
}

.firstname, .lastname {
  font-weight: bolder;
  width: 70px;
  justify-self: center;
  padding-left: 10px;
}

.firstname {
  padding-left: 25px;
}

.userlogout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 470px;
}
.userlogout .logout:hover {
  background-color: grey;
  border-radius: 10px;
  color: white;
}
.userlogout__profilepic {
  width: 20px;
  height: 20px;
  padding-top: 15px;
  padding-right: 190px;
}

.element__statistics__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.element__statistics__container__circle1 {
  background-color: #4D4CAC;
}
.element__statistics__container__circle2 {
  background: #9698D6;
}
.element__statistics__container__circle3 {
  background: #FF808B;
}
.element__statistics__container__circle1, .element__statistics__container__circle2, .element__statistics__container__circle3 {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.element__statistics__container__circle1__invoices, .element__statistics__container__circle1__contacts, .element__statistics__container__circle1__companies, .element__statistics__container__circle2__invoices, .element__statistics__container__circle2__contacts, .element__statistics__container__circle2__companies, .element__statistics__container__circle3__invoices, .element__statistics__container__circle3__contacts, .element__statistics__container__circle3__companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.element__lastcompanies__items {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-left: 20px;
}

.items {
  word-spacing: 30px;
}

.element__lastcompanies__container {
  margin-left: 20px;
  word-spacing: 70px;
}

.lastcompanies__table, .lastcontacts__table, .lastinvoices__table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

th, td {
  padding-left: 70px;
}

.lastinvoices__table {
  padding-right: 70px;
}