// .event__main__container {
//     .event__table__dates {
//         &__date {
//         display: flex;
//         flex-direction: column;
//         }
//     }
// }


.event__main__container {
    .event__table__dates {
        display: flex;
        flex-direction: column;
    }
    .event__table__availability {
        .table__availability__choice {
            display: flex;
        }
    }
}

// .event__table__availability {
//     &__choice {
//         display: flex;
//     }
// }