<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="event__name" id="name">NOMS</h2>
    <div id="event-main-container" class="event__main__container"></div>
    <button id="event-validate" class="event__validate__button"></button>

    <div id="event-table-dates" class="event__table__dates"></div>
    <div id="event-table-names" class="event__table__names"></div>
    <div id="event-table-availability" class="event__table__availability"></div>
    <div id="event-table-availability" class="event__table__availability"></div>
    <div class="table__availability__choice"></div>
    <div class="attendee__name"></div>
</body>
</html>