.task {
    width: 300px;
}

.task_name {
    font-size: 30px;
}

.task_delay {
    margin-top: 5px;
}

.task_description, .task_delay {
    margin-left: 10px;
}


.toDo_tasks, .doing_tasks, .done_tasks {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.toDo_header_title, .doing_header_title, .done_header_title, .task_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.done_newTask, .toDo_newTask, .doing_newTask {
    margin-left: 13px;
}

.taskbook {
    display: flex;
    flex-direction: column;
    @media (min-width: 650px)
    {
        flex-direction: row;
    }
}

.toDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    background-color: white;
    
    @media (max-width: 650px)
    {
        & {
        margin: 5px 20px 5px 20px;
    }
}

}