main {
    color: white;
}

@media (max-width: 650px) {
    .taskbook {
    display:flex ;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

}

.task_name {
    font-size: 30px;
}

.task_delay {
    margin-top: 5px;
    margin-left: 195px;
    font-style: italic;
}

.task_description {
    margin-left: 10px;
    margin-right: 10px;
}

.task_description {
    border: 1px solid $LIGHT_COLOR_B;
    min-height: 85px;
    border-radius: 3%;
}


.toDo_tasks, .doing_tasks, .done_tasks {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid $LIGHT_COLOR_B;
    border-radius: 3%;
    margin-left: 10px;
    margin-right: 10px;
}



.toDo_header_title, .doing_header_title, .done_header_title, .task_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// .done_newTask, .toDo_newTask, .doing_newTask {
//     margin-left: 13px;
// }

.taskbook {
    display: flex;
    flex-direction: column;
    @media (min-width: 650px)
    {
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        }
}

.toDo, .doing, .done {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    border-radius: 3%;
    opacity: 90%;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid black;
    
    @media (min-width: 650px)
    {
        
}
}

// .main_title {
//     @media (min-width: 650px) {
//          & {
//             position: fixed;
//             margin-left: 400px;
//         }
//     }
// }