@media (max-width: 650px) {
    .taskbook {
    display:flex ;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

}

.task_name {
    font-size: 30px;
}

.task_delay {
    margin-top: 5px;
}

.task_description, .task_delay {
    margin-left: 10px;
}


.toDo_tasks, .doing_tasks, .done_tasks {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 3%;

}



.toDo_header_title, .doing_header_title, .done_header_title, .task_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

// .done_newTask, .toDo_newTask, .doing_newTask {
//     margin-left: 13px;
// }

.taskbook {
    display: flex;
    flex-direction: column;
    @media (min-width: 650px)
    {
        flex-direction: row;
    }
}

.toDo, .doing, .done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    opacity: 90%;
    width: 300px;
    margin-top: 10px;
    
}
