html.dark, body.dark {
    background-color: rgb(255 - 235, 255 - 235, 255 - 235);
}
.dropbtn.dark:hover {
    color: rgb(255 - 35, 255 - 35, 255 - 35);
}
.menu.dark {
    border-bottom: 1px solid rgb(255 - 154, 255 - 154, 255 - 154);
}
.menu_btn.dark:hover:not(.theme_switch) {
    background-color: rgb(255 - 205, 255 - 205, 255 - 205);
}
.theme_switch.dark {
    color: rgb(255 - 235, 255 - 235, 255 - 235);
    background-color: rgb(255 - 35, 255 - 35, 255 - 35);
}
.dropdown-content.dark a:hover {
    background-color: rgb(255 - 195, 255 - 195, 255 - 195);
}