$DARK_COLOR_Z: #5f1f85;
$DARK_COLOR_A: #452A57;
$DARK_COLOR_B: #5D2F61;
$DARK_COLOR_C: #4A273A;
$DARK_COLOR_D: #4A2726;
$DARK_COLOR_E: #57322A;
$DARK_COLOR_W:rgb(255 - 235, 255 - 235, 255 - 235);


$DARK_TEXT_COLOR_A:rgb(255 - 35, 255 - 35, 255 - 35);
$DARK_TEXT_COLOR_A_HOVER:rgb(255 - 100, 255 - 100, 255 - 100);

$DT_COLOR_BD:rgb(255 - 35, 255 - 35, 255 - 35);
body.dark {
    color: #fff;
}
main.dark {
    color: #fff;
}
.task.dark {
    background-color: #701d5a;
}
.task_name.dark {
    color: $DARK_TEXT_COLOR_A;
}
.toDo_tasks.dark, .doing_tasks.dark, .done_tasks.dark {
    background-color: $DARK_COLOR_E;
}
html.dark, body.dark {
    background-color: $DARK_COLOR_A;
}
.task_description.dark {
    background-color: $DARK_COLOR_B;
}
.menu.dark {
    background-color: $DARK_COLOR_Z;
    border-bottom: 1px solid $DARK_COLOR_E;
}
.theme_switch.dark {
    color: $DARK_COLOR_W;
    background-color: $DT_COLOR_BD;
    &:hover {
        color: #000;
    }
}
.dropdown-content-todo.dark, .dropdown-content-doing.dark, .dropdown-content-done.dark {
    color: $DARK_TEXT_COLOR_A;
}
.dropdown-content.dark {
    background-color: $DARK_COLOR_B;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
}
.dropdown-content.dark p {
    color: $DARK_TEXT_COLOR_A;
}
#languages.dark {
    background-color: $DARK_COLOR_B;
}

.doing_newTask.dark, .toDo_newTask.dark {
    background-color: $DARK_COLOR_C;
    &:hover {
        background-color: $DARK_COLOR_B;
    }
}

// HOVER MENU
.menu_btn.dark:hover:not(.theme_switch) {
    color: $DARK_TEXT_COLOR_A_HOVER;
    background-color: $DARK_COLOR_B;
}
.dropdown-content.dark:hover {
    p:hover {
        color: $DARK_TEXT_COLOR_A_HOVER;
    }
}
.dropdown-content {
    &-todo.dark, &-doing.dark, &-done.dark {
        &:hover {
            p {
                color: $DARK_TEXT_COLOR_A_HOVER;
            }
        }
    }
}
.dropdown-content-todo.dark, .dropdown-content-doing.dark, .dropdown-content-done.dark,
.sorting_name.dark, .sorting_priority.dark, .sorting_timeline.dark {
    &:hover {
        background-color: $DARK_COLOR_C;
    }
}

.toDo.dark, .doing.dark, .done.dark {
    background-color:$DARK_COLOR_D;
}
footer.dark {
    border-top: 1px solid $DARK_COLOR_E;
}

#languages.dark, .footer_languages_language.dark {
    color: #fff;
}