html.dark, body.dark {
    background-color: rgb(20, 20, 20);
}
.task.dark {
    border: 1px solid #fff;
}
.dropbtn.dark:hover {
    color: rgb(20, 20, 20);
}
.menu.dark {
    border-bottom: 1px solid #9a9a9a;
}
.menu_btn.dark:hover:not(.theme_switch) {
    background-color: rgb(50, 50, 50);
}
.theme_switch.dark {
    color: rgb(20, 20, 20);
    background-color: rgb(220, 220, 220);
}
.dropdown-content.dark a:hover {
    background-color: rgb(60, 60, 60);
}