$LIGHT_COLOR_Z: #b83dff;
$LIGHT_COLOR_A: #C374F2;
$LIGHT_COLOR_B: #F479FC;
$LIGHT_COLOR_C: #E67AB4;
$LIGHT_COLOR_D: #FF8785;
$LIGHT_COLOR_E: #F28B74;
$LIGHT_COLOR_W:rgb(235, 235, 235);


$LIGHT_TEXT_COLOR_A:rgb(35, 35, 35);
$LIGHT_TEXT_COLOR_A_HOVER:rgb(100, 100, 100);

$DT_COLOR_B:rgb(35, 35, 35);

main.light {
    color: black;
}
.task.light {
    background-color: #b8168d;
}
.task_delete {
    color: rgb(225, 0, 0);
    &:hover {
        color: red;
    }
}
.task_name.light {
    color: $LIGHT_TEXT_COLOR_A;
}
.toDo_tasks.light, .doing_tasks.light, .done_tasks.light {
    background-color: $LIGHT_COLOR_E;
}
html.light, body.light {
    background-color: $LIGHT_COLOR_A;
}
.task_description.light {
    background-color: $LIGHT_COLOR_B;
}
.menu.light {
    background-color: $LIGHT_COLOR_Z;
    border-bottom: 1px solid $LIGHT_COLOR_E;
}
.theme_switch.light {
    color: $LIGHT_COLOR_W;
    background-color: $DT_COLOR_B;
    &:hover {
        color: #fff;
    }
}
.dropdown-content-todo.light, .dropdown-content-doing.light, .dropdown-content-done.light {
    color: $LIGHT_TEXT_COLOR_A;
}
.dropdown-content.light {
    background-color: $LIGHT_COLOR_B;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content.light p {
    color: $LIGHT_TEXT_COLOR_A;
}
#languages.light {
    background-color: $LIGHT_COLOR_B;
}

.doing_newTask.light, .toDo_newTask.light {
    background-color: $LIGHT_COLOR_C;
    &:hover {
        background-color: $LIGHT_COLOR_B;
    }
}


// HOVER MENU
.menu_btn.light:hover:not(.theme_switch) {
    color: $LIGHT_TEXT_COLOR_A_HOVER;
    background-color: $LIGHT_COLOR_B;
}
.dropdown-content.light:hover {
    p:hover {
        color: $LIGHT_TEXT_COLOR_A_HOVER;
    }
}
.dropdown-content {
    &-todo.light, &-doing.light, &-done.light {
        &:hover {
            p {
                color: $LIGHT_TEXT_COLOR_A_HOVER;
            }
        }
    }
}
.dropdown-content-todo.light, .dropdown-content-doing.light, .dropdown-content-done.light,
.sorting_name.light, .sorting_priority.light, .sorting_timeline.light {
    &:hover {
        background-color: $LIGHT_COLOR_C;
    }
}

.toDo.light, .doing.light, .done.light {
    background-color:$LIGHT_COLOR_D;
}
footer.light {
    border-top: 1px solid $LIGHT_COLOR_E;
}
.footer_languages_language.light {
    color: #000;
}