html.light, body.light {
    background-color: rgb(235, 235, 235);
}
.task.light {
    border: 1px solid black;
    width: 300px;
}
.dropbtn.light:hover {
    color: rgb(35, 35, 35);
}
.menu.light {
    border-bottom: 1px solid #9a9a9a;
}
.menu_btn.light:hover:not(.theme_switch) {
    background-color: rgb(205, 205, 205);
}
.theme_switch.light {
    color: rgb(235, 235, 235);
    background-color: rgb(35, 35, 35);
}
.dropdown-content.light a:hover {
    background-color: rgb(195, 195, 195);
}