textarea, .name {
    padding: 3px;
    resize: none;
    border: none;
    white-space: pre;
    caret-color: #000;
    &:focus {
        outline: none;
    }
}
.dueTo, .priority {
    padding: 3px;
    resize: none;
    border: none;
    &:focus {
        outline: none;
    }
}
.postToDoTask, .postDoingTask {
    margin-top: 5px;
    border: none;
    border-radius: 25px;
}
.doing_newTask, .toDo_newTask {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 25px;
}

.task_delete {
    position: absolute;
    cursor: pointer;
    font-weight: bolder;
    width: 15px;
    height: 15px;
    border-radius: 5px;
}