* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import "lightTheme";
@import "darkTheme";
@import "articles";
@import "menu";
@import "newTasks";
@import "footer";

$worksans:'Work Sans', sans-serif;

body {
    font-family: $worksans;
}
.toDo, .doing, .done {
    &_tasks {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 25px;
    }
}
.toDo, .doing {
    &_newTask {
        &_title {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
    }
}
.done_tasks > .task > .task_delay {
    display: none;
}
.maketask {
    display: none;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}