@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /*  iOS Safari */
  -webkit-user-select: none; /*  Safari */ /*  Konqueror HTML */
  -moz-user-select: none; /*  Old versions of Firefox */
  -ms-user-select: none; /*  Internet Explorer/Edge */
  user-select: none; /*  Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

html.light, body.light {
  color: #000;
  background-color: #C374F2;
}
html.dark, body.dark {
  color: #fff;
  background-color: #452A57;
}

main.light {
  color: #000;
}
main.dark {
  color: #fff;
}

.name_error, .description_error {
  color: red;
}

.task.light {
  background-color: #E67AB4;
}
.task.dark {
  background-color: #4A273A;
}
.task_name.light {
  color: rgb(35, 35, 35);
}
.task_name.dark {
  color: rgb(220, 220, 220);
}
.task_description.dark {
  background-color: #5D2F61;
}
.task_description.light {
  background-color: #F479FC;
}
.task_delete {
  color: rgb(225, 0, 0);
}
.task_delete:hover {
  color: red;
}

.dropdown-content.light {
  background-color: #F479FC;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content.light:hover p:hover {
  color: rgb(100, 100, 100);
}
.dropdown-content.light p {
  color: rgb(35, 35, 35);
}
.dropdown-content.dark {
  background-color: #5D2F61;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}
.dropdown-content.dark:hover p:hover {
  color: rgb(155, 155, 155);
}
.dropdown-content.dark p {
  color: rgb(220, 220, 220);
}
.dropdown-content-todo.light, .dropdown-content-doing.light, .dropdown-content-done.light {
  color: rgb(35, 35, 35);
}
.dropdown-content-todo.light:hover p, .dropdown-content-doing.light:hover p, .dropdown-content-done.light:hover p {
  color: rgb(100, 100, 100);
}
.dropdown-content-todo .dark, .dropdown-content-doing .dark, .dropdown-content-done .dark {
  color: rgb(220, 220, 220);
}
.dropdown-content-todo .dark:hover p, .dropdown-content-doing .dark:hover p, .dropdown-content-done .dark:hover p {
  color: rgb(155, 155, 155);
}
.dropdown-content-todo.light:hover, .dropdown-content-doing.light:hover, .dropdown-content-done.light:hover, .dropdown-content .sorting_name.light:hover, .dropdown-content .sorting_priority.light:hover, .dropdown-content .sorting_timeline.light:hover {
  background-color: #E67AB4;
}
.dropdown-content-todo.dark:hover, .dropdown-content-doing.dark:hover, .dropdown-content-done.dark:hover, .dropdown-content .sorting_name.dark:hover, .dropdown-content .sorting_priority.dark:hover, .dropdown-content .sorting_timeline.dark:hover {
  background-color: #4A273A;
}

.menu.light {
  background-color: #b83dff;
  border-bottom: 2px solid #e88670;
}
.menu.dark {
  background-color: #5f1f85;
  border-bottom: 2px solid #57322A;
}
.menu_btn.light:hover:not(.theme_switch) {
  color: rgb(100, 100, 100);
  background-color: #F479FC;
}
.menu_btn.dark:hover:not(.theme_switch) {
  color: rgb(155, 155, 155);
  background-color: #5D2F61;
}

.toDo.light, .doing.light, .done.light {
  background-color: #FF8785;
}
.toDo.dark, .doing.dark, .done.dark {
  background-color: #3b201f;
}
.toDo_tasks.light, .doing_tasks.light, .done_tasks.light {
  background-color: #e88670;
}
.toDo_tasks.dark, .doing_tasks.dark, .done_tasks.dark {
  background-color: #57322A;
}

.doing_newTask.light, .toDo_newTask.light {
  background-color: #E67AB4;
}
.doing_newTask.light:hover, .toDo_newTask.light:hover {
  background-color: #e88670;
}
.doing_newTask.dark, .toDo_newTask.dark {
  background-color: #4A273A;
}
.doing_newTask.dark:hover, .toDo_newTask.dark:hover {
  background-color: #57322A;
}

footer.dark {
  border-top: 2px solid #57322A;
}
footer.light {
  border-top: 2px solid #e88670;
}

#languages.light, .footer_languages_language.light {
  color: #000;
  background-color: #F479FC;
}
#languages.dark, .footer_languages_language.dark {
  color: #fff;
  background-color: #5D2F61;
}

.theme_switch.light {
  color: rgb(235, 235, 235);
  background-color: rgb(35, 35, 35);
}
.theme_switch.light:hover {
  background-color: #000;
}
.theme_switch.dark {
  color: rgb(20, 20, 20);
  background-color: rgb(220, 220, 220);
}
.theme_switch.dark:hover {
  background-color: #fff;
}

textarea.description.light {
  color: #000;
  caret-color: #000;
  background-color: rgb(235, 235, 235);
}
textarea.description.dark {
  color: #fff;
  caret-color: #fff;
  background-color: rgb(20, 20, 20);
}

select.priority.light {
  color: #000;
  background-color: rgb(235, 235, 235);
}
select.priority.dark {
  color: #fff;
  background-color: rgb(20, 20, 20);
}

input.postToDoTask.light:hover, input.postDoingTask.light:hover {
  color: #000;
  background-color: #fff;
}
input.postToDoTask.dark:hover, input.postDoingTask.dark:hover {
  color: #fff;
  background-color: #000;
}

input.name.light {
  caret-color: #000;
}
input.name.dark {
  caret-color: #fff;
}

input.name.light, input.dueTo.light, input.postToDoTask.light, input.postDoingTask.light {
  color: #000;
  background-color: rgb(235, 235, 235);
}
input.name.dark, input.dueTo.dark, input.postToDoTask.dark, input.postDoingTask.dark {
  color: #fff;
  background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(35, 35, 35);
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: rgb(100, 100, 100);
  border-width: 5px 4px;
}

* {
  scrollbar-width: thin !important;
}

.taskbook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
@media (min-width: 630px) and (max-width: 924px) {
  .taskbook {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
  }
}
@media (min-width: 925px) {
  .taskbook {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 40px;
  }
}

.task {
  position: relative;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
.task_delete {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}
.task_name {
  font-size: 30px;
  margin-left: 5px;
  margin-bottom: 15px;
}
.task_description {
  margin-left: 15px;
  margin-right: 15px;
  min-height: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.task_delay {
  width: 100%;
  padding-right: 10px;
  text-align: right;
  font-style: italic;
  opacity: 0.5;
}

.main_title {
  text-align: center;
}

.toDo, .doing, .done {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  opacity: 90%;
  width: 300px;
  padding: 10px;
}
.toDo_tasks, .doing_tasks, .done_tasks {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  min-height: 25px;
}
.toDo_header, .doing_header, .done_header {
  width: 100%;
}
.toDo_header_title, .doing_header_title, .done_header_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.toDo_header hr, .doing_header hr, .done_header hr {
  width: 100%;
}

.toDo_newTask, .doing_newTask {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: calc(100% - 10px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 25px;
}
.toDo_newTask_title, .doing_newTask_title {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

header {
  height: 40px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
}
.menu_btn {
  display: block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: large;
}

.dropdown {
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  transform: translate(-15px, 5px);
  min-width: 160px;
  z-index: 1;
}
.dropdown-content-todo, .dropdown-content-doing, .dropdown-content-done {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
}
.dropdown-content-checkbox {
  width: 25px;
  height: 25px;
}
.dropdown-content p {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content div {
  padding: 10px 10px;
  text-decoration: none;
}

.theme_switch {
  cursor: pointer;
  margin-left: auto;
}

.dropbtn {
  border: none;
}

.maketask {
  display: none;
  flex-direction: column;
}

textarea, .name {
  padding: 3px;
  resize: none;
  border: none;
  white-space: pre;
  caret-color: #000;
}
textarea:focus, .name:focus {
  outline: none;
}

.dueTo, .priority {
  padding: 3px;
  resize: none;
  border: none;
}
.dueTo:focus, .priority:focus {
  outline: none;
}

.postToDoTask, .postDoingTask {
  margin-top: 5px;
  border: none;
  border-radius: 25px;
}

input.postToDoTask, input.postDoingTask {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin-top: 5px;
}

.footer {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#languages {
  padding: 5px;
  border: none;
}