@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

html.light, body.light {
  background-color: #C374F2;
}

.menu.light {
  border-bottom: 1px solid #F28B74;
}

.theme_switch.light {
  color: rgb(235, 235, 235);
  background-color: rgb(35, 35, 35);
}
.theme_switch.light:hover {
  color: #fff;
}

.dropdown-content-todo.light, .dropdown-content-doing.light, .dropdown-content-done.light {
  color: rgb(35, 35, 35);
}

.dropdown-content {
  background-color: #F479FC;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content.light p {
  color: rgb(35, 35, 35);
}

#languages.light {
  background-color: #F479FC;
}

.menu_btn.light:hover:not(.theme_switch) {
  color: rgb(100, 100, 100);
  background-color: #F479FC;
}

.dropdown-content.light:hover p:hover {
  color: rgb(100, 100, 100);
}

.dropdown-content-todo.light:hover p, .dropdown-content-doing.light:hover p, .dropdown-content-done.light:hover p {
  color: rgb(100, 100, 100);
}

.dropdown-content-todo.light:hover, .dropdown-content-doing.light:hover, .dropdown-content-done.light:hover,
.sorting_name.light:hover, .sorting_priority.light:hover, .sorting_timeline.light:hover {
  background-color: #E67AB4;
}

.toDo.light, .doing.light, .done.light {
  background-color: #FF8785;
}

footer.light {
  border-top: 1px solid #F28B74;
}

.main_title {
  text-align: center;
}

/*
html.dark, body.dark {
    background-color: rgb(20, 20, 20);
}
.task.dark {
    border: 1px solid #fff;
}
.dropbtn.dark:hover {
    color: rgb(20, 20, 20);
}
.menu.dark {
    border-bottom: 1px solid #9a9a9a;
}
.menu_btn.dark:hover:not(.theme_switch) {
    background-color: rgb(50, 50, 50);
}
.theme_switch.dark {
    color: rgb(20, 20, 20);
    background-color: rgb(220, 220, 220);
}
.dropdown-content.dark a:hover {
    background-color: rgb(60, 60, 60);
}
*/
html.dark, body.dark {
  background-color: #C374F2;
}

.menu.dark {
  border-bottom: 1px solid #F28B74;
}

.theme_switch.dark {
  color: black;
  background-color: rgb(35, 35, 35);
}
.theme_switch.dark:hover {
  color: #fff;
}

.dropdown-content-todo.dark, .dropdown-content-doing.dark, .dropdown-content-done.dark {
  color: rgb(35, 35, 35);
}

.dropdown-content {
  background-color: #F479FC;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content.dark p {
  color: rgb(35, 35, 35);
}

#languages.dark {
  background-color: #F479FC;
}

.menu_btn.dark:hover:not(.theme_switch) {
  color: rgb(100, 100, 100);
  background-color: #F479FC;
}

.dropdown-content.dark:hover p:hover {
  color: rgb(100, 100, 100);
}

.dropdown-content-todo.dark:hover p, .dropdown-content-doing.dark:hover p, .dropdown-content-done.dark:hover p {
  color: rgb(100, 100, 100);
}

.dropdown-content-todo.dark:hover, .dropdown-content-doing.dark:hover, .dropdown-content-done.dark:hover,
.sorting_name.dark:hover, .sorting_priority.dark:hover, .sorting_timeline.dark:hover {
  background-color: #E67AB4;
}

.toDo.dark, .doing.dark, .done.dark {
  background-color: #FF8785;
}

footer.dark {
  border-top: 1px solid #F28B74;
}

.main_title {
  text-align: center;
}

main {
  color: white;
}

@media (max-width: 650px) {
  .taskbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.taskbook {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 650px) {
  .taskbook {
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
  }
}

.task_name {
  font-size: 30px;
}

.task_delay {
  margin-top: 5px;
  margin-left: 195px;
  font-style: italic;
}

.task_description {
  margin-left: 10px;
  margin-right: 10px;
}

.task_description {
  border: 1px solid #F479FC;
  min-height: 85px;
  border-radius: 3%;
}

.toDo_tasks, .doing_tasks, .done_tasks {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  border: 1px solid #F479FC;
  border-radius: 3%;
  margin-left: 10px;
  margin-right: 10px;
}

.toDo_header_title, .doing_header_title, .done_header_title, .task_name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toDo, .doing, .done {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  opacity: 90%;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
}
header {
  height: 40px;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.menu_btn {
  display: block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: large;
}
@media (max-width: 240px) {
  .menu_btn {
    text-align: center;
  }
}

@media (max-width: 240px) {
  .main_title {
    margin-top: 15px;
  }
}

.theme_switch {
  margin-left: auto;
}

.dropdown {
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-todo, .dropdown-content-doing, .dropdown-content-done {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
}

.dropbtn {
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  transform: translate(-15px, 5px);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content p {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content div {
  padding: 10px 10px;
  text-decoration: none;
}

.dropdown-content-checkbox {
  width: 25px;
  height: 25px;
}

textarea, .name {
  padding: 3px;
  resize: none;
  border: none;
  white-space: pre;
  caret-color: #000;
}
textarea:focus, .name:focus {
  outline: none;
}

.dueTo, .priority {
  padding: 3px;
  resize: none;
  border: none;
}
.dueTo:focus, .priority:focus {
  outline: none;
}

.postToDoTask, .postDoingTask {
  margin-top: 5px;
  border: none;
  border-radius: 25px;
}

.doing_newTask, .toDo_newTask {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #E67AB4;
  border-radius: 25px;
}
.doing_newTask:hover, .toDo_newTask:hover {
  background-color: #F479FC;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin-top: 5px;
}

.footer {
  margin-bottom: 5px;
}

#languages {
  padding: 5px;
  border: none;
}

.footer_languages_language {
  font-style: italic;
}

body {
  font-family: "Work Sans", sans-serif;
}

.toDo_tasks, .doing_tasks, .done_tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 25px;
}

.toDo_newTask_title, .doing_newTask_title {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.done_tasks > .task > .task_delay {
  display: none;
}

.maketask {
  display: none;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}