footer{


.menu{
padding-left: 50px;
margin : 2%;
}
.menu > a {
    margin : 15px;
    padding : 5px;
    text-decoration: none;
    border : solid 2px black;
    
}



p{
    margin: 2%;
}

.Information{
    
    
    margin-left: 57%;
}
.information > p {
    display: flex;
    align-items: center;
    padding-right: 20%;


}
.number_align{
display: flex;
align-items: center;
padding-right: 20%;
}

}
.icon_align > img {
    padding-left: 20px;

}
.copyright > p {

    margin-left: 82%;
}
