<input
    type="text"
    name="task-description-input"
    class="task__name-input"
    id="task-name-input"
/>
<textarea
    name="task-description-input"
    id=""
    cols="30"
    rows="10"
    class="task__description-input"
    id="task-description-input"
></textarea>

<div class="task__dates__container" id="task-dates">
    <input type="date" name="task-date-input" id="task-date-input-01" />
</div>
<button class="task__date-add-button" id="task-date-add">New</button>

<button class="task__validate-button" id="task-validate">OK</button>

<div class="checkbox__task__choice" id="checkbox-task-choice">
    <input type="checkbox" name="CheckEvent" id="event-task-choice">
    
</div>
