@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
$worksans:'Work Sans', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $worksans;
}
.noselect {
    -webkit-touch-callout: none;    /*  iOS Safari */
    -webkit-user-select: none;      /*  Safari */
    -khtml-user-select: none;       /*  Konqueror HTML */
    -moz-user-select: none;         /*  Old versions of Firefox */
    -ms-user-select: none;          /*  Internet Explorer/Edge */
    user-select: none;              /*  Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}
@import "theme";
@import "scrollBar";
@import "articles";
@import "menu";
@import "newTasks";
@import "footer";